.containerPrincipal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #b3afb16e;
  /* height: 50%; */

}

.containerCard{
  height: 45rem;
  display: flex;
  justify-content: center;
   margin-top: 70px;
  /* border: 4px solid black; */
}

.backHome {
  margin-top: 50px;
  width: 6rem;
  font-size: 30px;
  color: rgba(125, 215, 8, 0.542);
  border-radius: 300rem;
  border: solid 2px  rgba(125, 215, 8, 0.542);
}

.title {
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  margin-top: 40px;
  margin-bottom: -100px;
  font-family: "Mochiy Pop One", "sans-serif ";
  /* border: solid 2px black; */
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border-radius: 6px;
  overflow: visible;
  background: rgba(255, 255, 255, 0.104);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  transition: all 400ms ease-out;
  cursor: default;
  text-align:left;
  height: 100%;
  align-content: center;
 }

.foodTitle {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  margin: 40px 60px 20px 0px;
  /* border: solid 2px black; */
}

.img {
  width: 80%;
  height:  80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: 2 / 1 / 8 / 2;
  padding: 15px;
  margin-left: 50px;
align-self: center;
}

.containerItemsText{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:40rem;
  /* border: solid 2px black;  */
}

.dietsText {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: 30px;
}

.summaryText {
  grid-area: 3 / 2 / 4 / 3;
  align-content: center;
}

.heatlhScoreText {
  grid-area: 4 / 2 / 5 / 3;
  
}

.stepsText {
  grid-area: 5 / 2 / 6 / 3;
}

.dishText {
  grid-area: 6 / 2 / 7 / 3;
}

p {
  font-size: 1.2rem;
 
}

.containerPharr{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 50px;
}

.foodTitle,
.dietsText,
.summaryText,
.heatlhScoreText,
.stepsText,
.dishText {
  font-weight: 700;

}


.containerPharr {
  margin-left: -70px;

}
