.containerErrorNoFound {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.errorNoFound {
  width: 100%;
  margin-top: -100px;
  overflow-y: hidden;
}

.containerPrincipal {
  background-size: cover;
  height: 100%;
  background-color: #b3afb16e;
}

/* ******** Cards **************** */

.containerTitle {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 6rem;
  font-family: "Mochiy Pop One", "sans-serif ";
}

.containerCards {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 4%;
  padding: 2%;
  position: relative;
  overflow: hidden;
}

.foodTitle {
  font-size: 2rem;
  margin-bottom: 6px;
}

.foodText {
  font-size: 1.5rem;
}

.card > ion-card {
  justify-content: center;
  text-align: center;
  margin: 10px;
  width: 100%;
  max-width: 350px;
  min-height: 335px;
  max-height: 355px;
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.104);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);

}

.diets > ion-card-subtitle{
  margin-top: 10px;
}


/* ******** Paginacion ********** */

.containerPaginacion {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.btnAtras > ion-icon {
  position: relative;
  left: -30px;
  cursor: pointer;
  color: rgba(125, 215, 8, 0.542);
}

.btnAdelante > ion-icon {
  position: relative;
  left: 30px;
  cursor: pointer;
  color: rgba(125, 215, 8, 0.542);
}

.btnPaginacion > ion-button {
  background-color: rgba(125, 215, 8, 0.542);
  color: grey;
  height: 2rem;
  width: 2rem;
  margin: 0 5px 0 5px;
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgba(125, 215, 8, 0.542), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
