.containerErrorNoFound {
  display: flex;
  justify-content: center;
}

.errorNoFound {
  width: 100%;
  height: 56rem;
}
.containerLoading {
  display: flex;
  position: relative;
  left: 100%;
  /* right: 50%; */
  height: 100%;
  width: 100%;
   /* justify-items: center; */
  /* border: 4px solid black; */
}
.loading {
 
  align-items: center;
  font-size: 6rem;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.reloj {
  transform: rotate(180deg);
}
.containerBackHome {
  display: flex;
  width: 20%;
  height: 50px;
  justify-content: start;
  margin-bottom: 40px;
}

.backHome {
  justify-content: center;
  font-size: 30px;
  color: #577037;
  border-radius: 3rem;
}
.backHome:hover {
  color: #94f11aa8;
}

.containerPrincipal {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #b3afb16e;
  overflow: hidden;
  
}

/* ******** Cards **************** */

.containerTitle {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 6rem;
  font-family: "Mochiy Pop One", "sans-serif ";
}

.containerCards {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 4%;
  padding: 2%;
  justify-items: center;
  }

.foodTitle {
  font-size: 2rem;
  margin-bottom: 6px;
}

.foodText {
  font-size: 1.5rem;
}

.card > ion-card {
  
  text-align: center;
  margin: 10px;
  width: 100%;
  max-width: 350px;
  min-height: 23rem;
  max-height: 23rem;
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.104);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}
.imgCard {
  width: 19rem;
}

.diets > ion-card-subtitle {
  margin-top: 10px;
  font-size: 1rem;
}

/* ******** Paginacion ********** */

.containerPaginacion {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.btnAtras > ion-icon {
  position: relative;
  left: -30px;
  cursor: pointer;
  color: rgba(125, 215, 8, 0.542);
}

.btnAdelante > ion-icon {
  position: relative;
  left: 30px;
  cursor: pointer;
  color: rgba(125, 215, 8, 0.542);
}

.btnPaginacion > ion-button {
  background-color: rgba(125, 215, 8, 0.542);
  color: grey;
  height: 2rem;
  width: 2rem;
  margin: 0 5px 0 5px;
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgba(125, 215, 8, 0.542), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
