.containerForm {
  margin-top: 50px;
  box-sizing: border-box;
  margin-left: 450px; 
  margin-bottom: 130px; 
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  overflow: hidden;
  border: solid 2px black;  
}
.backHome{
  margin-top: 90px;
  width: 6rem;
  font-size: 30px;
  /* border: solid 2px black; */
}

.titleForm{
  justify-content: center;
  font-size: 60px;
  border: solid 2px black;
}

.titleRecipe{
  font-size: 4rem;
  margin-left: 40px;
  margin-bottom: 15px;
}

.titleForm,
.titleInput {
  display: flex; 
  /* justify-content: center; */
  font-size: 1.5rem;
  font-weight: 500;
}

.titleInput {
  margin-right: 80px;
}

.input {
  display: flex;
  justify-items: center;
  border: solid 2px black;
  width: 50%;
  height: 40px;
  margin-bottom: 10px;
  padding: 3px; 
  /* margin-left: 200px; */
 }

.select{
  border: solid 2px black;
  width: 50%;
} 

.buttons{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  height: 40px;
 margin-top: 5px;
}

.button{
  border: solid 2px black;
  width: 6rem;
  padding: 6px;
  margin: 4px;
cursor: pointer;
}

.button:hover{
  background: rgba(33, 241, 10, 0.928);
}