.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5rem;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  background: rgb(175,114,114);
  background: linear-gradient(214deg, rgba(175,114,114,0.8715861344537815) 0%, rgba(46,33,30,0.7903536414565826) 33%, rgba(208,85,54,0.9752275910364145) 100%);
  border: solid 2px black;
  position: fixed;
}
.imgNavBar{
  width: 12%;
}
.linkHome {
  align-self: center;
  justify-content: end;
  width: 10%;
  border: solid 2px black;
}
.newRecipe {
  width: 15%;
  align-self: center;
  justify-self: center;
  border: solid 2px black;
}
h5{
  display: flex;
  align-items: center;
}