.ordenar,
.filtrar {
  cursor: pointer;
  padding: 10px;
  border: solid 2px black;
  background-color: linear-gradient(
    39deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(66, 244, 6, 1) 27%,
    rgba(227, 234, 236, 0.8603816526610644) 100%
  );
}
.containerSelectOrd {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin-left: 600px;

  /* border: solid 2px black; */
}

option{
  background-color: linear-gradient(
    39deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(66, 244, 6, 1) 27%,
    rgba(227, 234, 236, 0.8603816526610644) 100%
  );
}

.labels{
margin-right: 6px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}
.ordenar{
  margin-right: 7px;
  
}

